
<form action="/api/users/{{id}}/documents" enctype="multipart/form-data" method="post">
    <br>
    Perfil:<input type="file" name="profiles" id="profiles">
    <br><br>
    Productos:<input type="file" name="products" id="products">
    <br><br>
    Documentos:<input type="file" name="documents" id="documents">
    <br><br>
    <input type="submit" value="Enviar">
</form>