<h3>Add Product</h3>
<form action="/api/products/" method="post">
    Title: <input type="text" name="title" id="title">
    <br>
    Description: <input type="text" name="description" id="description">
    <br>
    Code: <input type="text" name="code" id="code">
    <br>
    Price: <input type="number" name="price" id="price">
    <br>
    Stock: <input type="number" name="stock" id="stock">
    <br>
    Category: <input type="text" name="category" id="category">
    <br>
    Thumbnails: <input type="text" name="thumbnails" id="thumbnail">
    <br>
   
    <input type="submit" value="ADD">
    <p>Ejemplo:
        "title":"Smartphone",
        "description":"Samsung",
        "code":"port12",
        "price":3500,
        "stock":5,
        "category":"celulares",
        "thumbnails":["https://cdn-iibml.nitrocdn.com/mIsZFyqRlkiNfZRugfIBKtdyexDtafZx/assets/images/optimized/rev-99e5996/image/cache/catalog/products_2023/samsung-galaxy-a14-black-1-800x800.png"],
        "owner":"asdasd@gmail.com"
    </p>
    
</form>



